@model IEnumerable<DefaultWebShop.Models.ShoppingCart>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Product
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <p id="totalPrice">@item.TotalPrice</p>
            </td>
            <td>
                <a asp-controller="ShoppingCart" asp-action="DeleteFromCart" asp-route-id="@item.ShoppingCartID" class="alert-link">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="jumbotron text-center">
    <h3 id="totalOfTotal"></h3>
    <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="BuyAll" asp-route-userid="@Model.First().ApplicationUserID">Buy all</a>
</div>

<script>
    window.addEventListener("load", function Load() {
        var total = document.querySelectorAll("#totalPrice");
        var totalprice = 0;
        for (var i = 0; i < total.length; i++) {
            totalprice += parseInt(total[i].innerHTML);
        }
        document.getElementById("totalOfTotal").innerHTML = totalprice + "$";
    });
</script>
